# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configuração do Banco de Dados (Prisma + SQLite)
DATABASE_URL="file:./dev.db"

# Autenticação e Segurança (JWT)
JWT_SECRET="insira-um-segredo-jwt-forte-aqui"
JWT_EXPIRES_IN="8h"
